/* Esto es un comentario 
/* section p {
    color:darkblue;

}

aside p{
    color:red;
}

h1,h2,h3 {
    font-family: cursive;
}

.aviso {
    background-color: red;
    color: yellow;
}
*/


/*
nav a{
    text-decoration: none;
    background-color: #0c3232;
    color: white;
    
}
*/

nav a:hover{
    
    background-color: red;
    color: yellow;
    
}
body{
    box-sizing: border-box;
    padding: 90px 20px 0;
    background-color: whitesmoke;
    margin: 0;
    
}
.header {
    position: fixed;
    background-color:   #076Af0   ;
    top: 0px;
    left: 0;
    height: 90px;
    width: 100%;      
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
    
}
.nav-link {
    color: white;
    text-decoration: none;
    
    
}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
    color: white;
    text-decoration: none;
    
}
.nav-menu {
    display: flex;
    list-style: none;
    margin-right: 40px;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    
}
.nav-menu-link{
    padding: 8px 12px;
    transition: 0.5s;
}
.nav-menu-link:hover{
    background-color:  #024070;
    border-radius: 14px;
    
}
aside{
    position: fixed;
    background-color:   beige  ;
    top: 90px;
    left: 0;
    bottom: 20px;
    width: 20%;   
}
section {
    overflow-y: scroll;
    position: fixed;
    background-color:  grey   ;
    top: 90px;
    left: 20%;
    bottom: 20px;
    width: 80%;    
}
footer {
    position: fixed;
    background-color:  black;
    color: whitesmoke;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;    
}

header h1 {
    top: 10px;
    left: 0;
    height: 30px;
    width: 100%;    
}
